<div ng-controller="ProductCategoryDetailCtrl">
    <div class="row">
        <div class="col-lg-11">
            <h1 class="page-header">Category</h1>
        </div>
        <div class="col-lg-1">
            <h1 class="page-header"><button type="button" class="btn btn-default" ng-click="back();">Back</button></h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Category Detail
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="col-lg-2">
                        <span><b>Name :</b></span><br /><br />
                        <span><b>Brand :</b></span><br /><br />
                        <span><b>Description :</b></span><br /><br />
                        <span><b>Date :</b></span><br /><br />
                        <span><b>Status :</b></span><br /><br />
                    </div>
                    <div class="col-lg-6">
                        <span ng-bind="categories.name"></span><br /><br />
                        <span ng-bind="categories.brand.name"></span><br /><br />
                        <span ng-bind="categories.description"></span><br /><br />
                        <span ng-bind="categories.created_at"></span><br /><br />

                        <span>
                            <p ng-if="categories.status == 1"><span class="label label-info">Active</span></p>
                            <p ng-if="categories.status == 0"><span class="label label-default">Disable</span></p>
                        </span>

                    </div>

                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>

